Step 1
Getting Started

In [33]:
import pandas as pd

Step 2 
Loading and Exploring the Data

In [47]:
df = pd.read_csv('results.csv')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

Step 3 
Data Analysis

In [135]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [70]:
df.describe()

         home_score    away_score
count  45315.000000  45315.000000
mean       1.739314      1.178241
std        1.746904      1.392095
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

Q1: What is the average number of goals for the home team?

In [73]:
df["home_score"].mean()

1.7393136930376256

Q2: What is the average number of goals for the away team?

In [76]:
df["away_score"].mean()

1.1782412004854905

Q3: What is the country with the highest overall home score?

In [202]:
df.groupby('home_team')['home_score'].sum().reset_index()

         home_team  home_score
0         Abkhazia          36
1      Afghanistan          55
2          Albania         224
3         Alderney           5
4          Algeria         588
..             ...         ...
308         Zambia         620
309       Zanzibar          63
310       Zimbabwe         317
311          Åland           1
312  Åland Islands          47

[313 rows x 2 columns]

In [196]:
filtered_df = df[df['home_score'] > df['away_score']]

In [200]:
df.groupby(['home_team'])['home_score'].sum().idxmax()

'Brazil'

Q4: What are the top 3 type of tournaments?

In [185]:
df["tournament"].value_counts().nlargest(3)

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

Q5: Which country has the highest overall FIFA World Cup goals?

In [190]:
fifa_df=df.loc[df['tournament'] == 'FIFA World Cup']
fifa_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True

In [192]:
fifa_df['total_score']=fifa_df['home_score']+fifa_df['away_score']
fifa_df.head(10)

/var/folders/jk/x7s9xmyx44s3sx745m_03blc0000gn/T/ipykernel_76758/4284614239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df['total_score']=fifa_df['home_score']+fifa_df['away_score']

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,3
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,5
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,3
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,4
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1
1316,1930-07-16,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay,True,3
1317,1930-07-17,Bolivia,Yugoslavia,0,4,FIFA World Cup,Montevideo,Uruguay,True,4
1318,1930-07-17,Paraguay,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,3
1320,1930-07-18,Uruguay,Peru,1,0,FIFA World Cup,Montevideo,Uruguay,False,1
1321,1930-07-19,Argentina,Mexico,6,3,FIFA World Cup,Montevideo,Uruguay,True,9

In [204]:
fifa_df.groupby(['country'])['total_score'].sum().idxmax()

'Brazil'